@import url('https://fonts.googleapis.com/css2?family=Play&family=Prompt:wght@300&display=swap');

#Main{
    font-family: 'Play', sans-serif;
    font-family: 'Prompt', sans-serif;
}


#player{
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    width: 100%;
   
}
#image_of_rps{
    width: 30%;
   
    height: 400px;
}

#Img_style{
    background-color: white;
    object-fit: cover;
    /* width: 100%; */
}

@media only screen and (max-width: 600px) {
     
      
    
   
}