@import url('https://fonts.googleapis.com/css2?family=Play&family=Prompt:wght@300&display=swap');

#Main{
    font-family: 'Play', sans-serif;
    font-family: 'Prompt', sans-serif;
}


#player{
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    width: 100%;
   
}
#image_of_rps{
    width: 30%;
   
    height: 400px;
}

#Img_style{
    background-color: white;
    width: 100%;
    height: 70%;
    
   
}
#Img_style:hover{
    box-shadow: 0px 10px 10px 10px rgb(212, 151, 209);
}

@media only screen and (max-width: 600px) {
     
     #Img_style{
         width: 100%;
         height: 35%;
     }
    
    #image_of_rps{
        height: 250px;
    }
    #image_of_rps h1{
        font-size: 25px;
    }
}