#box{
  width: 60%;
  height: 500px;
  border: 2px solid black;
  background: lightblue;

}

.C{

  border: 1px solid black;
  cursor: pointer;
  
  padding-top: 10%;
  text-align: center;

}
.C:active{
  background: rgb(48, 178, 221);
}
.R{
  height: 33.3%;
}